<h3>Welcome to QuizzApp</h3>

<div style="height: 300px; background-color: white;" class="z-depth-1">
  <p style="font-family: 'Permanent Marker', cursive; padding: 20px; font-size: 30px; text-align: center">It's your time to shine, you're staring at an interactive quiz app that is a platform for users to learn fun facts about difference genres.</p>
  <div id="btn-flex-container">
    <%= link_to 'Click here to play!', categories_path, class: "answer_button0 waves-effect waves-light btn-large" %>
  </div>
</div>
